@font-face {
    font-family: 'PT_Regular';
    /* Гарнитура шрифта */
    src        : url("./font/PT/PT/PT-Root-UI/PT-Root-UI_Regular.ttf");
    /* Путь к файлу со шрифтом */
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    opacity    : 1 !important;
    user-select: none;
    font-family: 'PT_Regular';
    font-weight: 400;

}

body{
  /* width: 1090px; */
  /* background: url(https://ds05.infourok.ru/uploads/ex/05b5/000633bc-b18fdfe3/hello_html_m56679833.jpg) no-repeat; */
  /* backdrop-filter: blur(30px) !important; */
  /* opacity: 0 !important; */
/* background: #55555550; */
  /* background: transparent; */
}

#main{
    width           : 1090px;
    height          : 412px;
    background: #555555;
    border-radius   : 10px !important;
    /* backdrop-filter: blur(30px); */
    padding         : 6px 4px;
  /* display: none; */
}

.line::after {
    content: "";
    display: block;
    clear  : both;
}

.keys {
    --smooth-corners: 25.0;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);

    float        : left;
    width        : 70px;
    height       : 40px;

    border-radius: 6px;
    margin-left  : 2px;
    background: #00000090;

box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);

}



svg{
  margin-top: 5px;
  margin-left: 6px;

}



 .top_in_keys{
        display: flex;
    }

    .frame{
        margin-top: 4px;
        margin-left: 26px;
    }


.keys .r {
    width      : 12px;
    height     : 25px !important;
    margin-left: 6px;
    top        : 0px;
    font-family: 'PT_Regular';
    color      : #FFFFFF;
    opacity    : 0.2 !important;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    /* line-height: 25px; */
    line-height: 22px;
/* identical to box height, or 137% */

letter-spacing: -0.41px;
}

.esc,
.del {
    width: 106px;
}

.f-key{
  font-size: 14px !important;
  margin-top: 1px;

}

.del .r {
    margin-left: 77px;
    font-size  : 16px;
}

.esc .r {
    font-size: 16px;
    width: 24px;
    height: 22px;
    margin-left: 7px;
    /* margin-top: 1px; */
}

.sec_line .keys {
    width     : 70px;
    height    : 70px;
    margin-top: 2px;
}

.sec_line .back,
.sec_line .enter,
.sec_line .caps {
    width: 142px;
}

.sec_line .back .r {
    position   : static;
    width      : 72px;
    height     : 22px;
    margin-left: 61px;
    font-size  : 16px;

    margin-top: 43px;
}

.sec_line .r {
    font-size: 16px;
}

.sec_line .tab,
.sec_line .sl,
.sec_line .alt,
.sec_line .alt_gr {
    width: 106px;
}

.sec_line .alt{
  padding: 5px 5px 4px 5px !important;
}

.sec_line .tab .r,
.sec_line .caps .r {
    margin-left: 7px;
    margin-top : 43px;
}

.sec_line .caps .r {
    position: static;
    width   : 67px;
    height  : 22px;
  margin-top: 43px !important;
  line-height: 22px;

letter-spacing: -0.41px;

}

.sec_line .enter .r {
    margin-left: 98px;
    margin-top : 43px;
}

.sec_line .shift {
    width   : 178px;

    position: relative;
}

.sec_line .shift .r,
.sec_line .alt .r,
.sec_line .ctrl .r {
    margin-top   : 35px;
    margin-left  : 0px;
    background   : #ED4E2D;
    width        : 42px;
    height       : 19px !important;
    left         : 5px;
    bottom       : 5px;
    padding-left: 4px;
  /* padding: 0 !important; */
    opacity: 1 !important;
    color        : #000;
    /* border-radius: 3px; */
}

.shift .r, .alt .r, .ctrl .r, .shift::before, .alt::before, .ctrl::before{
    --smooth-corners: 10.0;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    /* opacity: 1 !important; */
}



.shift::before, .alt::before{
    --smooth-corners: 37.0;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}


.shift .r {
    position   : absolute;
    /* margin-left: 1px !important; */
    margin-top : 41px !important;

}

.ctrl .r {

    width        : 34px !important;

    position     : relative;

    margin-top   : 41px !important;
    background   : #00C1FF !important;
    border-radius: 3px;
}




.alt .r {
    background : #0ACF84 !important;
    position   : relative;
    width      : 28px !important;
    margin-left: 0 !important;
    margin-left: 0px !important;
    margin-top : 36px !important;
    left       : 0 !important;


}

.alt_gr .r, .ctrl_l .r{
  width: 38px;
  height: 22px;
  line-height: 22px;
letter-spacing: -0.41px;
margin-top: 41px;
margin-left: 10px;
}

.ctrl_l .r{
  width: 24px !important;
}




.shift_l{
    width: 178px !important;

}

.sec_line .shift_l .r {
    margin-left: 139px;
    margin-top : 44px;
    width      : 32px;
    height     : 22px;
    line-height: 22px;
    background : none;
    color      : #FFFFFF;
    opacity    : 0.2 !important;
}

.sec_line .space {
    width    : 358px;
    font-size: 20px;
    --smooth-corners: 40.0;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}

.sec_line .top,
.sec_line .bottom {
    height     : 34px;
    position   : absolute;
    margin-left: 942px;
}

.sec_line .fn .r,
.sec_line .win .r {
    margin-top : 40px;
    margin-left: 10px;
}



.container {
    display   : grid;
    transition: 0.5s;
    position  : relative;
    display   : flex;
}

.left, .right, .up, .down{
    background: #00000090;
box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
color: #fff;
font-size: 11px;
font-weight: lighter;
}

.left,
.right {
    width           : 70px;
    height          : 70px;

    border-radius   : 6px;
}

.up,
.down {
    width           : 70px;
    height          : 34px !important;
    /* margin       : 0px 5px 4px 5px; */

    border-radius   : 6px;
}







/* ANIMATION */

.shift::before {
    content           : "";
    background        : #ed4e2d;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    left              : 5px;
    bottom            : 5px;
    width             : 42px;
    height            : 22px;
    margin-top        : 40px;
    transition    : width 100ms, height 100ms;

    /* margin-left       : 1px; */

}

.shift_anim::before {
    width : 168px;
    height: 60px;
}

.ctrl::before {
    content           : "";
    background        : #00C1FF;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    /* left           : 5px; */
    bottom            : 21px;
    width             : 34px;
    height            : 22px;
    transition    : width 100ms, height 100ms;
    margin-left       : 5px;
    --smooth-corners: 20.0;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);

}

.ctrl_anim::before {
    width : 60px;
    height: 60px;
}

.alt::before {
    content           : "";
    background        : #0ACF84;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    /* left           : 5px; */
    bottom            : 21px;
    width             : 28px;
    height            : 22px;

    transition    : width 100ms, height 100ms;
    /* margin-left: 5px; */

}

.alt_anim::before {
    width : 96px;
    height: 60px;
}
