*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1 !important;
    user-select: none;
}

#main{
    width: 1095px; 
    height: 414px;
    background: #c7c7c797;
    border-radius: 10px !important;
    filter: blur(0.3px); 
/* backdrop-filter: blur(5px); */
    padding: 6px;
}

.line::after{
    content: "";
    display: block;
    clear: both;
}

.keys{
    float: left;
    width: 70px;
    height: 40px;
    background: rgba(0,0,0,0.8) !important;
    border-radius: 6px;
    margin-left: 2px;
    

/* identical to box height, or 179% */



/* White */


    
}

@font-face {
    font-family: 'PT_Regular'; /* Гарнитура шрифта */
    src: url("./font/PT/PT/PT-Root-UI/PT-Root-UI_Regular.ttf"); /* Путь к файлу со шрифтом */
}


.keys .r, .keys .esc{

width: 13px;
height: 25px;
margin-left: 6px;
top: 0px;
font-family:'PT_Regular';
color: #FFFFFF;
opacity: 0.2 !important;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
}

.esc, .del{
    width: 106px;
}

.sec_line .keys{
    width: 70px;
    height: 70px;
    margin-top: 2px;
}

.sec_line .back, .sec_line .enter, .sec_line .caps{
    width: 142px;
    
}
.sec_line .back .r{
    position: static;
width: 72px;
height: 22px;
margin-left: 63px;
margin-top: 44px;
}

.sec_line .tab, .sec_line .sl, .sec_line .alt, .sec_line .alt_gr{
    width: 106px;
}
.sec_line .tab .r, .sec_line .caps .r{
    margin-left: 7px;
    margin-top: 44px;
}

.sec_line .caps .r{
position: static;
width: 64px;
height: 22px;
left: 5px;
top: 0px;
}

.sec_line .enter .r{
    margin-left: 98px;
    margin-top: 44px;
}

.sec_line .shift{
    width: 178px;
}

.sec_line .shift .r, .sec_line .alt .r{
    margin-top: 41px;
    margin-left: 5px;
    background: #FF9500;
    width: 42px;
    height: 24px;
    left: 5px;
    bottom: 5px;
    padding: 0px 5px 2px;
    opacity: 1 !important;
    color: #000;
    border-radius: 3px;
}

.sec_line .alt_gr .r{
    line-height: 22px;
}

.sec_line .shift_l .r{
    margin-left: 135px;
    margin-top: 44px;
    width: 32px;
    height: 22px;
    line-height: 22px;
    background: none;
    color: #FFFFFF;
    opacity: 0.2 !important;
}

.sec_line .space{
    width: 358px;
}

.sec_line .top, .sec_line .bottom{
    height: 34px;
    
}

