@font-face {
    font-family: 'PT_Regular';
    /* Гарнитура шрифта */
    src        : url("./font/PT/PT/PT-Root-UI/PT-Root-UI_Regular.ttf");
    /* Путь к файлу со шрифтом */
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    opacity    : 1 !important;
    user-select: none;
    font-family: 'PT_Regular';
    font-style : normal;
    font-weight: normal;
    font-weight: 400;
}



#main {
    width           : 1090px;
    height          : 412px;
    background-color: #555555;
    border-radius   : 10px !important;
    /* filter       : blur(0.3px);  */
    backdrop-filter : blur(30px) !important;
    padding         : 6px 4px;
    opacity         : 0.5;
}

.line::after {
    content: "";
    display: block;
    clear  : both;
}

.keys {
    float        : left;
    width        : 70px;
    height       : 40px;
    background   : rgba(0, 0, 0, 0.7) !important;
    border-radius: 6px;
    margin-left  : 2px;
    box-shadow   : inset 0px 3px 10px rgba(0, 0, 0, 0.2);
    /* padding   : 5px; */

}



 .top_in_keys{
        display: flex;
    }

    .frame{
        width: 22px;
        height: 22px;
        margin-top: 4px;
        margin-left: 28px;
    }
    .frame svg{
        margin-left: 5px;
        margin-top: 1px;
      }
    
      .keys .letter{
        width: 58px;
        height: 22px;
        margin-left: 6px;
        margin-top: 5px;
        font-size: 11px;
        line-height: 11px;
        color: #fff;
      } 

.keys .r {
    width      : 10px;
    height     : 25px;
    margin-left: 6px;
    top        : 0px;
    font-family: 'PT_Regular';
    color      : #FFFFFF;
    opacity    : 0.2 !important;
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 25px;

}

.esc,
.del {
    width: 106px;
}

.del .r {
    margin-left: 77px;
    font-size  : 16px;
}

.esc .r {
    font-size: 16px;
}

.sec_line .keys {
    width     : 70px;
    height    : 70px;
    margin-top: 2px;
}

.sec_line .back,
.sec_line .enter,
.sec_line .caps {
    width: 142px;
}

.sec_line .back .r {
    position   : static;
    width      : 72px;
    height     : 22px;
    margin-left: 60.5px;
    font-size  : 16px;

    margin-top: 44px;
}

.sec_line .r {
    font-size: 16px;
}

.sec_line .tab,
.sec_line .sl,
.sec_line .alt,
.sec_line .alt_gr {
    width: 106px;
}

.sec_line .tab .r,
.sec_line .caps .r {
    margin-left: 7px;
    margin-top : 44px;
}

.sec_line .caps .r {
    position: static;
    width   : 67px;
    height  : 22px;
    left    : 5px;
    top     : 0px;
}

.sec_line .enter .r {
    margin-left: 98px;
    margin-top : 44px;
}

.sec_line .shift {
    width   : 178px;
    padding : 5px;
    position: relative;
}

.sec_line .shift .r,
.sec_line .alt .r,
.sec_line .ctrl .r {
    margin-top   : 36px;
    margin-left  : 0px;
    background   : #ED4E2D;
    width        : 42px;
    height       : 24px;
    left         : 5px;
    bottom       : 5px;
    padding      : 0px 5px 2px;
    opacity      : 1 !important;
    color        : #000;
    border-radius: 3px;
}

.shift .r {
    position   : absolute;
    margin-left: 1px !important;
    margin-top : 40px !important;

}

.ctrl .r {
    /* position: absolute; */
    width        : 34px !important;
    /* z-index   : 1;*/
    position     : relative;
    margin-left  : 0px !important;
    margin-left  : 1px !important;
    margin-top   : 40px !important;
    background   : #00C1FF !important;
    border-radius: 3px;
}




.alt .r {
    background : #0ACF84 !important;
    position   : relative;
    width      : 28px !important;
    margin-left: 0 !important;
    margin-left: 0px !important;
    margin-top : 36px !important;
    left       : 0 !important;

}



.alt_gr .r,
.ctrl_l .r {
    width      : 40px;
    height     : 22px;
    margin-left: 3px !important;
    background : none !important;
    margin-top : 37px;
    margin-left: 10px;
}

.ctrl_l .r {
    width      : 24px;
    margin-left: 10px !important;
    margin-top : 41px;
}

.shift_l{
    width: 178px !important;

}

.sec_line .shift_l .r {
    margin-left: 139px;
    margin-top : 44px;
    width      : 32px;
    height     : 22px;
    line-height: 22px;
    background : none;
    color      : #FFFFFF;
    opacity    : 0.2 !important;
}

.sec_line .space {
    width    : 358px;
    font-size: 20px;
}

.sec_line .top,
.sec_line .bottom {
    height     : 34px;
    position   : absolute;
    margin-left: 942px;
}

.sec_line .fn .r,
.sec_line .win .r {
    margin-top : 41px;
    margin-left: 10px;
}



.container {
    display   : grid;
    transition: 0.5s;
    position  : relative;
    display   : flex;
}

.left,
.right {
    width           : 70px;
    height          : 70px;
    background-color: #363636;
    border-radius   : 6px;
}

.up,
.down {
    width           : 70px;
    height          : 34px !important;
    /* margin       : 0px 5px 4px 5px; */
    background-color: #363636;
    border-radius   : 6px;
}

.left svg,
.right svg {
    opacity    : 0.2 !important;
    margin-left: 6px !important;
    margin-top : 7px !important;
    
}

.up svg,
.down svg {
    opacity    : 0.2 !important;
    margin-left: 32px;
    margin-top : 12px;
    display: none;
}

.right svg {
    margin-left: 58px !important;
}

.down svg {
    margin-top: 14px;
}


/* ANIMATION */

.shift::before {
    content           : "";
    background        : #ed4e2d;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    left              : 5px;
    bottom            : 6px;
    width             : 42px;
    height            : 24px;
    margin-top        : 40px;
    transition        : width 0.2s ease, height 0.2s ease;
    margin-left       : 1px;
}

.shift_anim::before {
    width : calc(100% - 12px);
    height: calc(100% - 12px);
}

.ctrl::before {
    content           : "";
    background        : #00C1FF;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    /* left           : 5px; */
    bottom            : 12px;
    width             : 34px;
    height            : 24px;
    transition        : width 0.2s ease, height 0.2s ease;
    margin-left       : 6px;

}

.ctrl_anim::before {
    width : 58px;
    height: 58px;
}

.alt::before {
    content           : "";
    background        : #0ACF84;
    /* background-size: 25px 25px; */
    border-radius     : 3px;
    position          : absolute;
    /* left           : 5px; */
    bottom            : 11px;
    width             : 28px;
    height            : 24px;

    transition    : width 0.2s ease, height 0.2s ease;
    /* margin-left: 5px; */

}

.alt_anim::before {
    width : 96px;
    height: 60px;
}